[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
backcall = "==0.1.0"
decorator = "==4.3.2"
jedi = "==0.13.2"
jieba = "==0.39"
numpy = "==1.16.1"
pandas = "==0.24.1"
parso = "==0.3.4"
pexpect = "==4.6.0"
pickleshare = "==0.7.5"
ptyprocess = "==0.6.0"
python-dateutil = "==2.8.0"
pytz = "==2018.9"
pyzmq = "==17.1.2"
six = "==1.12.0"
tornado = "==5.1.1"
traitlets = "==4.3.2"
wcwidth = "==0.1.7"
Django = "==2.1.7"
prompt_toolkit = "==2.0.8"
Pygments = "==2.3.1"

[requires]
python_version = "3.6"
